$gray: #ececec;
$emotion1: #64c964;
$emotion2: #9dd774;
$emotion3: #fdce17;
$emotion4: #fd8446;
$emotion5: #fd565f;

div {
  .EmotionItem_box {
    cursor: pointer;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 50%;
      margin-bottom: 10px;
    }
    span {
      font-size: 18px;
    }
  }
  .EmotionItem_off {
    background-color: $gray;
    color: #fff;
  }
  .EmotionItem_on_1 {
    background-color: $emotion1;
    color: #fff;
  }
  .EmotionItem_on_2 {
    background-color: $emotion2;
    color: #fff;
  }
  .EmotionItem_on_3 {
    background-color: $emotion3;
    color: #fff;
  }
  .EmotionItem_on_4 {
    background-color: $emotion4;
    color: #fff;
  }
  .EmotionItem_on_5 {
    background-color: $emotion5;
    color: #fff;
  }
}